Checks: >
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  readability-container-size-empty,
  readability-delete-null-pointer,
  readability-misleading-indentation,
  readability-redundant-control-flow,
  readability-redundant-string-cstr,
  readability-string-compare,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -clang-analyzer-optin.*,
  -performance-avoid-endl,
  -performance-unnecessary-value-param
WarningsAsErrors: 'bugprone-*,clang-analyzer-*'
HeaderFilterRegex: '.*/(dailyboy|api)/.*'
FormatStyle: file
